@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    body{
        @apply bg-zinc-50;
    }
    .bg-nav{
        background: rgba(0,0,0,.1);
    }
    .nav-hover{
        background: rgba(236, 229, 229, 0.5);
    }
    .cart-icon-position{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .cart-container {
        max-width: 40rem;
        min-height: 28rem;
    }
    .popup-animation{
        animation: pop .5s ease-in-out;
    }
    @keyframes pop{
        0%{
            opacity: 0;
            scale: 0;
        }
    }
}